<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>

  <meta charset="utf-8">
  <title>FLIPKART</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type = "text/javascript" src="function.js"></script>
  </head>


  <body>






<div class="contact-details">

<div class="call-us-number">
  <p>  Call Us <a style="color: #fff;" href="tel:+91-82943 27252">+91-82943 27252</a> </p>
  </div>

  <div class="contact-details-icon">
    <a href="https://www.facebook.com/checkpoint/1501092823525282/?next=https%3A%2F%2Fwww.facebook.com%2F"><i class="fa fa-facebook"></i></a>
  <a href="https://www.linkedin.com/in/furkandanish/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/builttolasst/"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/dkdanishh"><i class="fa fa-twitter"></i></a>
</div>

</div>


<div class="navbar">

  <ol>
  <li><a class="nav" href="">Home</a></li>
  <li><a class="nav"href="">About Us</a></li>
  <li><a class="nav"href="">Services</a></li>
  <li><a class="nav"href="">Contacts</a></li>
  <li><a class="nav"href="">Blogs</a></li>
  <li><a href="file:///C:/Users/ISD/Desktop/Web/index.html"class="contact-us"href="">Contact Us</a></li>
</ol>

</div>


<div class="header-picture">

<div class="header-picture-pic">
<img src="https://www.themarcomavenue.com/blog/wp-content/uploads/2020/05/digital-Marketing-Agency-in-Gurgaon.png" alt="">
</div>

</div>


<div class="about">

<div class="about-main-content">
<img src="http://business.infomoby.com/wp-content/uploads/2019/03/slide-img-.png" alt="">
<h1>Let’s Bring Your Website to Life</h1>
<p>At IMP Digital, we believe that your needs are unique. That’s why our team of talented website designers
  and developers work together to create a custom website for each and every one of our clients.We will work closely
  with you to determine the online needs of your business, allowing us to build a website that meets, if not exceeds, your standards. We will consult your team to ensure that the website meets the criteria of your brand guidelines and is appealing to your specific audience.</p>
  </p>
<button class="btn"type="button" name="button">book a call with us</button>
</div>

</div>


<div class="full-service-agency">

  <div class="agency-content">
  <h1>Full Service Agency</h1>
  <p>Website design, development, custom coding, SEO, PPC, Social Media, Hosting and cloud, our expert digital team has helped hundreds of clients dominate online.
    We’ve been reducing digital costs and improving website ROI’s for companies for over 20 years.</p>
    <p>Web development, SEO & digital marketing performance is easier with a team of experts. As a client, you are at the center of what we do. From pioneering new ways
      to attract customers to building digital solutions that make it easier to grow your business. </p>
      <p>A trusted Google partner, award-winning digital marketing agency, we help you grow your business and craft
         a marketing strategy to gain valuable customer insight online.</p>
  </div>

  <div class="agency-pic">
<img src="https://q7x6p2k8.rocketcdn.me/wp-content/uploads/2020/10/seo-graphic-infront-webworks-2020.svg" alt="">
  </div>

</div>


<div class="web-agency">

  <div class="web-pic">
<img src="https://q7x6p2k8.rocketcdn.me/wp-content/uploads/2019/11/Web-dev-image-copy.svg" alt="">
  </div>


  <div class="web-content">
  <h1>Website Design</h1>
  <p>In today’s market, customers make decisions about your business before they even speak to you. Their decisions to buy is based on their online experience.
     Specifically the appearance, usability and accessibility of your website.</p>
    <p>Our team of web development experts produce powerful results. Websites are delivered on schedule, and all projects are managed through professional project managers.
     We create custom website designs that are optimized for speed and usability</p>
      <p>Infront Webworks offers e-commerce development, content management systems, Small business to enterprise level custom websites, website content edit programs,
        and robust support options to keep your website up to date, and plugins current. </p>
  </div>


</div>


<div class="seo-agency">

  <div class="seo-content">
  <h1>Award Winning SEO</h1>
  <p>Search engine optimization (SEO) is more important than ever in today’s competitive market. It is critical to find the right digital marketing agency.  We are a trusted Google partner and award-winning SEO company.
     With over 20 years of experience, our full-service agency will help you drive web traffic to your business.</p>
    <p>EO programs are based on hours per month and desired number of pages optimized, so programs are easy to budget, effective and don’t limit number of keywords optimized. Our expert SEO team handles every aspect of your website’s SEO. Once we determine key performance indicators (KPI’s), we implement a
      marketing strategy and the SEO services that will directly drive those KPI’s and your return on investment. </p>
      <p>Get your free SEO audit of your website today. We also provide competitive audits,
         SEO consulting, and wholesale SEO. We are your go to website marketing company.</p>
  </div>

  <div class="seo-pic">
<img src="https://q7x6p2k8.rocketcdn.me/wp-content/uploads/2019/11/SEO-Image-copy.svg" alt="">
  </div>


</div>



<div class="search-agency">

  <div class="search-pic">
<img src="https://q7x6p2k8.rocketcdn.me/wp-content/uploads/2019/11/SEM-IMage-copy.svg" alt="">
  </div>

  <div class="search-content">
  <h1>Search Engine</h1>
  <p>earch engine marketing (SEM) is one of the most cost-effective ways to grow your business in a competitive market. That’s why it’s important you work with a team who understands how pay
    per click (PPC) and other tools of optimization work together.</p>
    <p>Our SEM experts produce powerful results for your business. Let us help you with content marketing, paid search ads, and email marketing. We can also help with reputation management and social media marketing. Our internet
       marketing consultants can also develop strategies for your inhouse team to implement.  </p>
      <p>Together, we will deliver long term world-class pay-per-click PPC marketing strategies.
        To increase qualified traffic and generate higher conversion rates. </p>
  </div>


</div>






<div class="grid-box">

<div class="d">
      <img src="https://www.kindpng.com/picc/m/220-2206306_social-media-marketing-png-images-for-social-marketing.png" alt="">
   <div class="grid-items">  Social Marketing </div>
   <p class="grid">You can provide the answers that your potential customers are trying to find, so you can become the industry.</p>
</div>

      <div class="dd">
        <img src="https://5.imimg.com/data5/DE/AP/GLADMIN-60631360/mobile-app-development-500x500.png" alt="">
        <div class="grid-itemss"> App Development </div>
      <p class="grids">Create and manage top-performing social campaigns and start developing a dedicated customer fan base.</p>
</div >


<div class="ddd">
    <img src="https://p.kindpng.com/picc/s/387-3870455_customer-relationship-management-mcd-hd-png-download.png" alt="">
       <div class="grid-itemsss" >   SEO Optimization </div>
       <p class="gridss"> Create, publish, and promote engaging content to generate more traffic and build a dedicated community.</p>
</div>

<div class="dddd">
    <img src="https://www.logolynx.com/images/logolynx/29/29d76223a68a6a51a4ddda1ab6e6938b.jpeg" alt="">
         <div class="grid-itemssss"> Web Development </div>
<p class="gridsss">Get more website traffic, more customers, and more online visibility with powerful SEO services.</p>
</div>

<div class="ddddd">
  <img src="https://unblast.com/wp-content/uploads/2020/05/Graphic-Design-Vector-Illustration.jpg" alt=""> </img>
       <div class="grid-itemsssss"> Graphic Designe</div>
  <p class="gridssss">Your website has to impress your visitors within just a few seconds. If it runs slow, if it feels outdated.</p>
</div>

<div class="dddddd">
  <img src="https://cdn.business2community.com/wp-content/uploads/2018/01/content-marketing.png" alt="">
      <div class="grid-itemssssss">  Content Marketing </div>
      <p class="gridsssss">We Create Experiences That Enable People to Connect, Express Themselves and Establish Meaningful Relationships</p>
</div>

</div>


<div class="form-contact">
<h1>Contact Us</h1>
</div>


<div class="form">

<div class="forms">
  <img src="https://blog.salespanel.io/wp-content/uploads/2020/11/3646374-1024x683.jpg" alt="">
  <input class="name"type="text" placeholder="Name" name="" value="">
  <br>
    <input class="phone" type="text" placeholder="Phone" name="" value="" required>
    <input class="email" type="text" placeholder="Email" name="" value="" required>
    <input class="textarea"type="textarea" placeholder="Your Message" name="" value="" required>
    <br>
    <button class="form-btn"type="button" name="button">Send</button>
  </div>

</div>


<div class="work-together">
  <h1>Let’s Work Together</h1>
  <button class="btnn" type="button" name="button">Contact Us</button>
</div>




<div class="footer">

  <div class="footer-column">
  <h1>HOME</h1>
  <h1>ABOUT</h1>
  <h1>SERVICES</h1>
  </div>

<div class="footer-columns">
  <h1>CONTACTS</h1>
  <h1>BLOGS</h1>
</div>

<div class="footer-columnss">
  <h1>Social Media</h1>
  <a href="https://www.facebook.com/checkpoint/1501092823525282/?next=https%3A%2F%2Fwww.facebook.com%2F"><i class="fa fa-facebook"></i></a>
<a href="https://www.linkedin.com/in/furkandanish/"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/builttolasst/"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/dkdanishh"><i class="fa fa-twitter"></i></a>
</div>


</div>



</body>


</html>
